
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-sand padding-large">
    <div class="container">
        <div class="row renderData">
            
        </div>
    </div>
</section>

<script type="text/javascript">
    var currentUrl = window.location.href;
    var Id = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);

    $(document).ready(function () {
        loadData();
    });

    function loadData() {
        $.ajax({
            url: '/BookDetail/GetBookId',
            data: { id: Id },
            type: "GET",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                var data = '';
                data += '<div class="col-md-6">';
                data += '<a href="#" class="product-image"><img src="' + result.image +'" alt="Image"/></a>';
                data += '</div>';
                data += '<div class="col-md-6 pl-5">';
                data += '<div class="product-detail">';
                data += '<h1>' + result.bookName +'</h1>';
                data += '<p>Tác giả: ' + result.authorName +'</p>';
                data += '<p>Nhà xuất bản: ' + result.publisherName + ' </p>';
                data += '<span class="price colored">' + result.price +' VND</span>';
                data += '<hr>';
                data += '<button type="button" name="add-to-cart" value="27545" class="button" onclick="return AddToCart('+ result.bookId +')">Thêm vào giỏ hàng</button>';
                data += '</div>';
                data += '</div>';

                $('.renderData').html(data);
            }
        });
    }


    function UrlToSession(event) {
        event.preventDefault();

        var url = event.currentTarget.getAttribute("href");

        $.ajax({
            type: "POST",
            url: "/Login/SaveReturnUrlToSession",
            data: { url: url },
            success: function (response) {
                console.log("URL saved to session");
                window.location.href = url;
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>