
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4 px-5">
        <div class="row">
            <div class="col-12">
                <div class="card border shadow-xs mb-4">
                    <div class="card-header border-bottom pb-0">
                        <div class="d-sm-flex align-items-center">
                            <div>
                                <h6 class="font-weight-semibold text-lg mb-0">Danh sách khách hàng</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0 py-0">
                        <div class="border-bottom py-3 px-3 d-sm-flex align-items-center">
                            <div class="input-group w-sm-25 ms-auto">
                                <span class="input-group-text text-body">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                                    </svg>
                                </span>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </div>
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead class="bg-gray-100">
                                    <tr>
                                        <th class="text-secondary text-xs font-weight-semibold opacity-7 ps-2">Tên khách hàng</th>
                                        <th class="text-secondary text-xs font-weight-semibold opacity-7 ps-2">Số điện thoại</th>
                                        <th class="text-secondary text-xs font-weight-semibold opacity-7 ps-2">Ngày sinh</th>
                                        <th class="text-secondary text-xs font-weight-semibold opacity-7 ps-2">Địa chỉ</th>
                                        <th class="text-secondary text-xs font-weight-semibold opacity-7 ps-2"></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal js-modal" id="form_modal">
    <div class="modal-container js-modal-container">
        <div class="modal-close js-modal-close">
            <i class="fas fa-times"></i>
        </div>

        <header class="modal-Header">
            Thông tin khách hàng
        </header>

        <div class="modal-body">
            <form id="InfoForm" method="post">
                <input type="number" id="customerId" class="modal-input d-none" placeholder="Mã khách hàng">
                <input type="text" id="customerName" class="modal-input" placeholder="Tên khách hàng">
                <input type="text" id="customerNumberPhone" class="modal-input" placeholder="Số điện thoại">
                <input type="date" id="customerBirthDay" class="modal-input" placeholder="Ngày sinh">
                <input type="text" id="customerAddress" class="modal-input" placeholder="Địa chỉ">

                <button type="button" id="btn_update" class="btn_submit" onclick="return update()">Sửa</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    const add_active = document.getElementById('add_Active-customer');
    add_active.classList.add('active');

    $(document).ready(function () {
        loadData();
    });

    function loadData() {
        $.ajax({
            url: '/Customer/List',
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'JSON',
            success: function (result) {
                var data = '';
                $.each(result, function (key, item) {
                    var date = new Date(item.birthDay);
                    var year = date.getFullYear();
                    var month = ('0' + (date.getMonth() + 1)).slice(-2);
                    var day = ('0' + date.getDate()).slice(-2);
                    data += '<tr>';
                    data += '<td><p class="text-sm text-secondary mb-0">' + item.name + '</p></td>';
                    data += '<td><p class="text-sm text-secondary mb-0">' + item.numberPhone + '</p></td>';
                    data += '<td><p class="text-sm text-secondary mb-0">' + day + '/' + month + '/' + year + '</p></td>';
                    data += '<td><p class="text-sm text-secondary mb-0">' + item.address + '</p></td>';
                    data += '<td>';
                    data += '<a href="#" class="text-secondary font-weight-bold text-xs" data-bs-toggle="tooltip" data-bs-title="Sửa" onclick="return getById(' + item.id + ')">Sửa</a>';
                    data += '|';
                    data += '<a href="#" class="text-secondary font-weight-bold text-xs" data-bs-toggle="tooltip" data-bs-title="Xóa" onclick="return deleteCate(' + item.id + ')">Xóa</a>';
                    data += '</td>';
                    data += '</tr>';
                });
                $('.tbody').html(data);
            },
            error: function (error) {
                console.log("Error: " + error.responseText);
            }
        });
    }

    function update() {

        const customerId = document.getElementById('customerId').value;
        const customerName = document.getElementById('customerName').value;
        const customerNumberPhone = document.getElementById('customerNumberPhone').value;
        const customerBirthDay = document.getElementById('customerBirthDay').value;
        const customerAddress = document.getElementById('customerAddress').value;

        if (customerName === "" || customerNumberPhone === "" || customerBirthDay === "" || customerAddress === "") {
            showInfoToast("Không được để trống các trường nhập dữ liệu");
        } else if (!validatePhoneNumber(customerNumberPhone)) {
            showInfoToast("Số điện thoại phải 10 số!");
        } else {
            $.ajax({
                url: "/Customer/Update",
                type: "POST",
                data: {
                    id: customerId,
                    name: customerName,
                    numberPhone: customerNumberPhone,
                    birthDay: customerBirthDay,
                    address: customerAddress
                },
                success: function (result) {
                    loadData();
                    $("#form_modal").removeClass("open");
                    //Reset form
                    resetForm();
                    showSuccessToast("Cập nhật thành công khách hàng!");
                }
            });
        }
    }

    function getById(id) {
        $.ajax({
            url: "/Customer/GetById",
            data: { id: id },
            type: "GET",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                var myDate = new Date(result.birthDay);
                myDate.setDate(myDate.getDate() + 1);
                var myDateString = myDate.toISOString().slice(0, 10);
                document.getElementById('customerBirthDay').value = myDateString;
                $("#customerId").val(result.id);
                $("#customerName").val(result.name);
                $("#customerNumberPhone").val(result.numberPhone);
                $("#customerAddress").val(result.address);
                //hiển thị modal
                $("#form_modal").addClass("open");
            },
            error: function (error) {
                console.log("Error: " + error.responseText);
            }
        });
    }

    function deleteCate(id) {
        showModalWithButtons({
            title: "Thông báo",
            message: "Bạn có chắc chắn xóa không?",
            yesContent: "Có",
            noContent: "Không",
            onYes: function () {
                $.ajax({
                    url: "/Customer/Delete",
                    data: { id: id },
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "JSON",
                    success: function (result) {
                        if (result.success) {
                            loadData();
                            showSuccessToast("Xóa thành công tác giả!");
                        }
                    },
                    error: function (e) {
                        alert(e.responseText);
                    }
                });
            },
            onNo: function () {
                console.log("User clicked No");
            }
        });
    }

</script>