@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Đăng ký</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/assetLogin/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assetLogin/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assetLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assetLogin/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assetLogin/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assetLogin/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assetLogin/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assetLogin/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assetLogin/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assetLogin/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/assetLogin/css/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js" integrity="sha512-6DC1eE3AWg1bgitkoaRM1lhY98PxbMIbhgYCGV107aZlyzzvaWCW1nJW2vDuYQm06hXrW0As6OGKcIaAVWnHJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link href="~/css/toast.css" rel="stylesheet" />
	<!--===============================================================================================-->
</head>
<body>
	<div id="toast"></div>
	<div class="limiter">
		<div class="container-login100" style="background-image:url('/assetLogin/images/bg-01.jpg')">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" id="RegisterForm">
					<span class="login100-form-title p-b-49">
						Đăng ký
					</span>
					<div class="wrap-input100 validate-input m-b-23" data-validate="Tên khách hàng không được để trống">
						<span class="label-input100">Tên khách hàng</span>
						<input class="input100" id="Name" type="text"  placeholder="Nhập tên khách hàng...">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="Số điện thoại không được để trống">
						<span class="label-input100">Số điện thoại</span>
						<input class="input100" id="NumberPhone" type="text" placeholder="Nhập số điện thoại...">
						<span class="focus-input100" data-symbol="&#xf2bb;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="Ngày sinh không được để trống">
						<span class="label-input100">Ngày sinh</span>
						<input class="input100" id="BirthDay" type="date" placeholder="Nhập ngày sinh...">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="Địa chỉ không được để trống">
						<span class="label-input100">Địa chỉ</span>
						<input class="input100" id="Address" type="text" placeholder="Nhập địa chỉ...">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="Email không được để trống">
						<span class="label-input100">Email</span>
						<input class="input100" id="Email" type="email" name="email" placeholder="Nhập email...">
						<span class="focus-input100" data-symbol="&#xf243;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Mật khẩu không được  để trống">
						<span class="label-input100">Mật khẩu</span>
						<input class="input100" id="Password" type="password" name="pass" placeholder="Nhập mật khẩu...">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class="text-right p-t-8 p-b-31">
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Đăng ký
							</button>
						</div>
					</div>
				</form>
				<div class="flex-col-c p-t-155">
					<a href="/Login/Index" class="txt2">
						Đăng nhập
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="dropDownSelect1"></div>

	<script>
		$(document).ready(function () {
			$("#RegisterForm").submit(function (event) {
				event.preventDefault();

				var name = $("#Name").val();
				var numberPhone = $("#NumberPhone").val();
				var birthDay = $("#BirthDay").val();
				var address = $("#Address").val();
				var email = $("#Email").val();
				var pass = $("#Password").val();

				console.log(name);
				console.log(numberPhone);
				console.log(birthDay);
				console.log(address);
				console.log(email);
				console.log(pass);
				if(name == null || numberPhone == null || birthDay == null || address == null || pass == null) {
					showInfoToast("Không được để trống các trường dữ liệu!");
				} else if (!validatePhoneNumber(numberPhone)) {
					showInfoToast("Số điện thoại phải 10 số!");
				} else if (!isEmail(email)) {
					showInfoToast("Email sai định dạng!");
				} else if (pass.length < 8) {
					showInfoToast("Mật khẩu phải trên 8 ký tự!");
				} else {
					$.ajax({
						url: '/Register/CheckCustomerExists',
						type: 'GET',
						dataType: 'JSON',
						data: { email: email },
						success: function (data) {
							if (data) {
								showErrorToast("Tài khoản này đã tồn tại!");
							} else {
								$.ajax({
									url: '/Register/Add',
									type: 'POST',
									data: {
										name: name,
										numberPhone: numberPhone,
										birthDay: birthDay,
										address: address,
										email: email,
										password: pass
									},
									success: function (result) {
										showSuccessToast("Đăng ký thành công!");
										window.location.href = "/Login/Index"
									},
									error: function (error) {
										console.log('Đã xảy ra lỗi: ' + error.responseText);
									}
								});
							}
						},
						error: function (e) {
							alert(e.responseText);
						}
					});
				}
			});
		});
	</script>
    <script src="~/js/validation.js"></script>
	<!--===============================================================================================-->
	<script src="~/assetLogin/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="~/js/toast.js"></script>
	<!--===============================================================================================-->
	<script src="~/assetLogin/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/assetLogin/vendor/bootstrap/js/popper.js"></script>
	<script src="~/assetLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/assetLogin/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/assetLogin/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/assetLogin/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/assetLogin/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/assetLogin/js/main.js"></script>

</body>
</html>